
@{
    ViewData["Title"] = "DisplayEmail";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<h1>تایید حساب کاربری</h1>

<h3 class="alert alert-primary">کاربر گرامی لطفا برای تایید حساب کاربری خود روی لینکی که برای ایمیل شما ارسال شد کلیک کنید </h3>

